[submodule "external/endnote-mcp"]
	path = external/endnote-mcp
	url = https://github.com/gokmengokhan/endnote-mcp
[submodule "external/paper-scraper"]
	path = external/paper-scraper
	url = https://github.com/GAO-pooh/paper-scraper
[submodule "external/paper-fetch"]
	path = external/paper-fetch
	url = https://github.com/drpwchen/paper-fetch
